hr {
  border: 2px solid #f3f4f6;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-box {
  max-width: 700px;
  border: 2px solid #44555f;
  padding: 25px;
  margin-top: 20px;
  background: #dfe0e7;
  font-family: "Baloo Tamma 2", cursive;
  color: #44555f;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
}

.form-control {
  font-size: 30px;
}

.change-city-button,
.current-location-button {
  font-size: 30px;
  width: 56px;
  border: solid 1px rgb(206, 212, 218);
  height: 59px;
  background-color: #989aa3;
}

.change-city-button:hover,
.current-location-button:hover {
  background-color: #656875;
}

.btn-group {
  display: flex;
}

.celsius-button,
.fahrenheit-button {
  font-size: 30px;
  margin-top: 20px;
  width: 320px;
}

.unit-buttons .active {
  background-color: #88abbe;
  border: 3px solid #88abbe;
  border-radius: 4px;
  color: #f3f4f6;
  cursor: default;
}

.unit-buttons .secondary {
  background-color: #f3f4f6;
  border: 3px solid #f3f4f6;
  border-radius: 4px;
  color: #545866;
}

#current-city,
.current-weather {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 5px;
}

#current-date {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
}

#current-description {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
}

#current-description:first-letter {
  text-transform: capitalize;
}

.hum-wind-max {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.humidity,
.wind,
.maximum {
  font-size: 25px;
  padding-left: 30px;
}

.weather-forecast {
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
}

.forecast-time {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 70px;
  width: 70px;
}

.weather-forecast-temperature {
  font-size: 22px;
}

.button-icon {
  justify-content: center;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0.85rem 0.75rem;
}
